* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#circle {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    bottom: 50px; /* საწყისი პოზიცია */
    transition: bottom 1s ease-out;
}

button {
    margin-top: 150px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}